*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    background-size: cover;
    background-attachment: fixed;
}
p, span{
    color: #fff;
}
.selc_bot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.text_bot {
    color: #fff;
    font-size: 75%;
    text-align: center;
    white-space: nowrap;
    width: 100px;
}
.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--ds-color-white-10);
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    height: 1.25rem;
    position: relative;
    transition: background-color .2s ease;
    width: 2.5rem;
}
.toggle:checked {
    background: rgb(163, 64, 255);
}
.toggle:before {
    background: rgb(161, 67, 255, 0.5);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    border-radius: 9.5px;
    position: absolute;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
}
.toggle:checked:after {
    opacity: 0.9;
    transform: translateX(125%);
}
.toggle:after {
    background: white;
    border-radius: 100%;
    content: "";
    height: 1rem;
    left: 0;
    margin: 0.125rem;
    opacity: 0.1;
    position: absolute;
    top: 0;
    transition: transform .1s ease, opacity .1s ease;
    width: 1rem
}
.ic_bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.container .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .selc {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}
.container .ef_volume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.container .set {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.container .name {
    font-size: 75%;
    width: 100%;
}
.rangeslider {
    width: 85%;
}
.container >p {
    font-size: 3em;
    padding: 0.5em;
}
.container >button{
    background-color: rgb(109, 162, 214, 0.25);
    width: 25%;
    font-size: 1em;
    border-radius: 3em;
    padding: 12px 6px;
    border: none;
    cursor: pointer;
}
.container >button >a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
}
.container .space {
    margin: 2rem 0;
    width: 100%;
}
.container >button:hover {
    background-color: rgb(118, 237, 255, 0.9);
}
.rangeslider {
    accent-color: rgb(77, 252, 246);
}
