*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: neosans;
    src: url("font/UTM_Neo_Sans_IntelBold_Italic.ttf");
}

body{
    position: relative;
    font-family: neosans;
    background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
}

#header {
    height: 80px;
    display: flex;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
#header .left_header{
    position: relative;
    left: 23px;
    top: -46%;
}

#header .left_header .logo{
    height: 105%;
}

#header .logo >img {
    width: 120%;
    height: 150%;
}
#header .right_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    position: relative;
}

#header .right_header .ava >img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

#header .player{
    display: flex;
    gap: 3px;
    height: 39px;
    font-family: neosans;
    width: 80%;
}
#header .button1{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: neosans;
}
#header .button1:hover {
    background-color: crimson;
    color: white;
}
#header .button2{
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#header .button2:hover{
    background-color: aliceblue;
    color: white;
}

#content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    color: white;
    font-size: 3.5vw;
    height: 82vh;
    position: relative;
}

#content .menubtn {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10%;
    padding-left: 6%;
    width: 40%;
}

#content .menubtn ul {
    list-style-type: none;
}

#content .menubtn a{
    text-decoration: none;
    color: white;
}


#content .menubtn li {
    padding-bottom: 6px;
}

#content .menubtn a:hover {
    cursor: pointer;
    color: #a19bd9;
    /* di chuột chữ to ra */
    transform: translateZ(0) scale(1.0238);
}

#content .button {
    position: relative;
}


#content .button .speaker{
    width: 100%;
    height: auto;
    position: relative;
    top: 7%;
    margin-left: -3%;
    margin-top: 2%;
    z-index: 0;
}

#content .button .girl{
    width: 45%;
    display: flex;
    justify-items: center;
    position: relative;
    margin-top: -42%;
    margin-left: 15%;
    z-index: 1;
}


#content .button .playclick{
    display: block;
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 1% 5%;

    position: absolute;
    right: 42%;
    font-size: 70%;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    margin-bottom: 16%;
    margin-right: 0%;
    z-index: 10;
    border-radius: 8px;
    transition-property: padding;
    transition-duration: 0.5s;
    
}

#content .playclick:hover{
    padding: 16px 38px;
    transform: scale(1.15);
} 

#footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    text-align: end;
    position: sticky;
}
#footer .menu_btn{
    padding-left: 23px;
    display: flex;
    gap: 1.5rem;
}
#footer .menu_btn .menu_btn_btn{
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0;
}
#footer .menu_btn .menu_btn_btn:hover .menu_btn_dt{
    color:darkgray;
}
#footer .menu_btn .menu_btn_btn .menu_btn_dt{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
#footer .menu_btn .menu_btn_btn .menu_btn_dt span{
    margin-top: 0.5rem;
    font-family: neosans;
}
#footer .para{
    padding: 8px 10px 10px;
    font-size: 130%;
    color: rgb(208, 80, 255);
    font-family: neosans;
}

.leaderboard{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 1s;
}

.leaderboard:target{
    visibility: visible;
    opacity: 1;
}

.BXH{
    text-decoration: none;
    color: white;
}

.ldboardbody{
    position: relative;
    width: 600px;
    height: 790px;
    background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    margin: auto;
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-y: scroll;
    z-index: 20;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.ldheader{
    position: relative;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    /* top: 0px; */
    margin: auto;
    /* right: 10px; */
    width: 300px;
    border-radius: 5px;
    background-color:gold;
}

/* .ld{
    overflow: scroll;
} */

.rank
{
    margin: auto;
    color: white;
    margin-top: 10px;
    /*  display: flex; */
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-collapse: collapse;
    /* overflow-y: scroll; */
    text-align: center;
}

#rl{
    border: 5px solid black;
    border-collapse: collapse;
    text-align: center; 
    /* padding: 40px; */
}

table, th, tr{
    /* border: 5px solid black; */
    padding: 20px;
}


.leaderboard a{
    /* display: block; */
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 1% 5%;
    /* width: 8%; */
    /* position: absolute; */
    left: 0;
    font-size: 70%;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    /* margin-bottom: 16%; */
    /* margin-right: 0%; */
    /* z-index: 10; */
    border-radius: 8px;
}



.top1{
    /* color: black; */
    background-color: rgb(214, 175, 54);
    bottom: 100px;
    /* width: 50px; */
}

.top2{
    /* color: black; */
    background-color: rgb(167, 167, 173);
    bottom: 50px;
}

.top3{
    /* color: black; */
    background-color: rgb(167, 112, 68);
}

.leaderboard #usr{
    font-size:  25px;
}

.avmbody{
    position: relative;
    width: 1200px;
    height: 450px;
    background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-y: scroll; */
    z-index: 20;
}

.achievement{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 1s;
}

#avm:target{
    visibility: visible;
    opacity: 1;
}

.avmheader{
    width: 50%;
    margin: auto;
    background-color: gold;
    text-align: center;
    justify-content: center;
    border: 5px;
    border-radius: 5px;
}

.avmtable{
    /* margin: auto; */
    position: absolute;
    right: 10%;
    color: white;
    width: 700px;
    margin-top: 10px;
    /*  display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 10px solid black;
    border-collapse: collapse;
    /* overflow-y: scroll; */
    text-align: left;
}

#normal{
    width: 50%;
}

.avmth{
    border: 5px solid black;
    padding: 30px;
}

.avmbody > img{
    position: absolute;
    left: 2.5%;
    width: 300px;
    height: 300px;
    top: 10%;
}

.avmbody .avm img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.achievement a{
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 1% 5%;
    /* width: 40%; */
    text-align: center;
    /* width: 8%; */
    /* position: absolute; */
    /* left: 0; */
    position: absolute;
    bottom: 5%;
    left: 43%;
    font-size: 100%;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    /* display: flex; */
    /* margin-bottom: 16%; */
    /* margin-right: 0%; */
    /* z-index: 10; */
    border-radius: 8px;
}