*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
}

@font-face {
    font-family: neosans;
    src: url("font/UTM_Neo_Sans_IntelBold_Italic.ttf");
}

body{
    position: relative;
    font-family: neosans;
    background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
}

#header {
    height: 80px;
    display: flex;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
#header .left_header{
    position: relative;
    left: 23px;
    top: -46%;
}

#header .left_header .logo{
    height: 105%;
}

#header .logo >img {
    width: 120%;
    height: 150%;
}
#header .right_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    position: relative;
}

#header .right_header .ava >img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

#header .player{
    display: flex;
    gap: 3px;
    height: 39px;
    font-family: neosans;
    width: 80%;
}
#header .button1{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: neosans;
}

#header a{
    color: white;
    text-decoration: none;
}

#header .button1:hover {
    background-color: crimson;
    color: white;
}
#header .button2{
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#header .button2:hover{
    background-color: aliceblue;
    color: white;
}

#content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    color: white;
    font-size: 3.5vw;
    height: 82vh;
    position: relative;
}

#content .menubtn {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10%;
    padding-left: 6%;
    width: 40%;
}

#content .menubtn ul {
    list-style-type: none;
}

#content .menubtn a{
    text-decoration: none;
    color: white;
}

#content .menubtn a:hover {
    cursor: pointer;
    color: #a19bd9;
    /* di chuột chữ to ra */
    transform: translateZ(0) scale(1.0238);
}

#content .menubtn li {
    padding-bottom: 6px;
}

#content .menubtn li:hover {
    cursor: pointer;
    color: #a19bd9;
    /* di chuột chữ to ra */
    transform: translateZ(0) scale(1.0238);
}

#content .button {
    position: relative;
}


#content .button .speaker{
    width: 100%;
    height: auto;
    position: relative;
    top: 7%;
    margin-left: -3%;
    margin-top: 2%;
    z-index: 0;
}

#content .button .girl{
    width: 45%;
    display: flex;
    justify-items: center;
    position: relative;
    margin-top: -42%;
    margin-left: 15%;
    z-index: 1;
}


#content .button .playclick{
    display: block;
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 1% 5%;

    position: absolute;
    right: 42%;
    font-size: 70%;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    margin-bottom: 16%;
    margin-right: 0%;
    z-index: 10;
    border-radius: 8px;
    transition-property: padding;
    transition-duration: 0.5s;
    
}

#content .playclick:hover{
    padding: 16px 38px;
    transform: scale(1.15);
} 

#footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    text-align: end;
    position: sticky;
}
#footer .menu_btn{
    padding-left: 23px;
    display: flex;
    gap: 1.5rem;
}
#footer .menu_btn .menu_btn_btn{
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0;
}

#footer a{
    color: white;
    text-decoration: none;
}

#footer .menu_btn .menu_btn_btn:hover .menu_btn_dt{
    color:darkgray;
}
#footer .menu_btn .menu_btn_btn .menu_btn_dt{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
#footer .menu_btn .menu_btn_btn .menu_btn_dt span{
    margin-top: 0.5rem;
    font-family: neosans;
}
#footer .para{
    padding: 8px 10px 10px;
    font-size: 130%;
    color: rgb(208, 80, 255);
    font-family: neosans;
}

.modal_thuong{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* .modal_thuong .select_mode_overlay{
    position: absolute;
    
} */

.modal_thuong .select_normal_mode_body{
    background-image: var(--background);
    margin: auto;
    z-index: 101;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_thuong .select_normal_mode_return{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    padding: 1rem 1rem;
}

.modal_thuong .select_normal_mode_return .return_thuong {
    text-decoration: none;
    cursor: pointer;
}

.modal_thuong .select_normal_mode_return .return_thuong:hover,
.modal_thuong .select_normal_mode_return .return_thuong:focus{
    color: white;
}

.modal_thuong .select_normal_mode_information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.modal_thuong .select_normal_mode_information >img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.modal_thuong .select_normal_mode_information .information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    margin-right: 25px;
    gap: 5px;
    font-size: 0.9rem;
    color: white;
    background-color: transparent;
}

.modal_thuong .select_normal_mode_information .point_number{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}


.modal_thuong .select_normal_mode_img{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 24px 24px 12px;
}

.modal_thuong .select_normal_mode_img_Hell, .select_normal_mode_img_Heaven, .select_normal_mode_img_Waste_land{
    display: flex;
    justify-content: space-between; 
    flex-flow: column wrap;
    align-items: center;
}

.modal_thuong .Hell, .Heaven, .Waste_land{
    width: 300px;
    height: 300px;
    border-radius: 20px;
} 

.modal_thuong .select_normal_mode_radio{
    display: flex;
    justify-content: space-around;
    flex: row wrap;
}

.modal_thuong .select_normal_mode_radio .container{
    display: block;
    font-size: 1.2rem;
    padding-left: 28px;
    margin-bottom: 20px;
    margin-left: 45px;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal_thuong .select_normal_mode_radio .container input{
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.modal_thuong .select_normal_mode_radio .container .checkmark{
    position: absolute;
    top:5px;
    left: 3px;
    height: 20px;
    width: 20px;
    background-color: #d8d4d4;
    border: 4px;
    border-radius: 50%;
    transition: background-color 0.5 ease ;
} 

/* On mouse-over, add a background color */
.modal_thuong .select_normal_mode_radio .container:hover input ~ .checkmark {
    background-color: #adafb1;
}

/* When the radio button is checked, add an other background */
.modal_thuong .select_normal_mode_radio .container input:checked ~ .checkmark {
    background-color: rgb(22, 221, 75);
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.modal_thuong .select_normal_mode_radio .container .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.modal_thuong .select_normal_mode_radio .container input:checked ~ .checkmark::after {
    display: inline-block;
}

/* Style the indicator (dot/circle) */
.modal_thuong .select_normal_mode_radio .container .checkmark::after {
    top: 5.5px;
    left: 5.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.modal_thuong .select_normal_mode_play_button a{
    text-decoration: none;
    color: white;
}

.modal_thuong .select_normal_mode_play_button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin: 5px 0 10px;
}

.modal_thuong .select_normal_mode_play_button .playclick{
    border: 0;
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 12px 24px;
    font-size: 1.25rem;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    border-radius: 8px;
    transition-property: padding;
    transition-duration: 0.5s;
    cursor: pointer;
    
}

.modal_thuong .select_normal_mode_play_button .playclick:hover{
    padding: 16px 38px;
    transform: scale(1.15);
}

.modal_thuong .select_normal_mode_play_button .resumeclick{
    border: 0;
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 12px 24px;
    font-size: 1.25rem;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    border-radius: 8px;
    transition-property: padding;
    transition-duration: 0.5s;
    cursor: pointer;
    
}

.modal_thuong .select_normal_mode_play_button .resumeclick:hover{
    padding: 16px 38px;
    transform: scale(1.15);
} 

.modal_xep_hang{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* .modal_xep_hang .select_mode_overlay{
    position: absolute;
    
} */

.modal_xep_hang .select_rank_mode_body{
    background-image: var(--background);
    margin: auto;
    z-index: 101;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.modal_xep_hang .select_rank_mode_return{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    padding: 1rem 1rem;
}

.modal_xep_hang .select_rank_mode_return .return_xep_hang {
    text-decoration: none;
    cursor: pointer;
}

.modal_xep_hang .select_rank_mode_return .return_xep_hang:hover,
.modal_xep_hang .select_rank_mode_return .return_xep_hang:focus{
    color: white;
}

.modal_xep_hang .select_rank_mode_information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.modal_xep_hang .select_rank_mode_information >img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.modal_xep_hang .select_rank_mode_information .information{
    padding: 5px;
    margin-right: 25px;
    font-size: 0.9rem;
    color: white;
}

.modal_xep_hang .select_rank_mode_center{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 20px;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_img .img{
    width: 300px;
    height: 300px;
    margin-left: 16px;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center .select_rank_mode_center_rank_point{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center .select_rank_mode_rank_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center .select_rank_mode_rank_img .select_rank_mode_rank{
    text-transform: uppercase;
    line-height: 2.5rem;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
}

@keyframes rank_img {
    to {
        transform: rotate(360deg);
    }
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center .select_rank_mode_rank_img .rank_img{
    width: 40px;
    height: 40px;
    animation: rank_img 5s infinite linear;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center .point_number{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    font-size: 0.9rem;
    color: white;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center .select_rank_mode_play_button a{
    text-decoration: none;
    color: white;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center .select_rank_mode_play_button .playclick{
    border: 0;
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 12px 24px;
    font-size: 1.25rem;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    border-radius: 8px;
    transition-property: padding;
    transition-duration: 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_center .select_rank_mode_play_button .playclick:hover{
    padding: 16px 38px;
    transform: scale(1.15);
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_right_rank{
    display:flex;
    align-items: center;
}

.modal_xep_hang .select_rank_mode_center .select_rank_mode_center_right_rank .rank{
    width: 300px;
    height: 300px;
}

.leaderboard{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.5s;
}

.leaderboard:target{
    visibility: visible;
    opacity: 1;
}

.BXH{
    text-decoration: none;
    color: white;
}

.ldboardbody{
    position: relative;
    width: 600px;
    height: 790px;
    background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    margin: auto;
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-y: scroll;
    z-index: 20;
}

.leaderboard .ldboardbody::-webkit-scrollbar {
    width: 1em;
}

.leaderboard .ldboardbody::-webkit-scrollbar-thumb {
    background-color: #fff;
    width: 2em;
    border-radius: 18px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.ldheader{
    position: relative;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    /* top: 0px; */
    margin: auto;
    /* right: 10px; */
    width: 300px;
    border-radius: 5px;
    background-color:gold;
}

/* .ld{
    overflow: scroll;
} */

.leaderboard .rank
{
    margin: auto;
    color: white;
    margin-top: 10px;
    /*  display: flex; */
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-collapse: collapse;
    /* overflow-y: scroll; */
    text-align: center;
}

#rl{
    border: 5px solid black;
    border-collapse: collapse;
    text-align: center; 
    /* padding: 40px; */
}

table, th, tr{
    /* border: 5px solid black; */
    padding: 20px;
}


.leaderboard a{
    /* display: block; */
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 1% 5%;
    /* width: 8%; */
    /* position: absolute; */
    left: 0;
    font-size: 70%;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    /* margin-bottom: 16%; */
    /* margin-right: 0%; */
    /* z-index: 10; */
    border-radius: 8px;
}



.top1{
    /* color: black; */
    background-color: rgb(214, 175, 54);
    bottom: 100px;
    /* width: 50px; */
}

.top2{
    /* color: black; */
    background-color: rgb(167, 167, 173);
    bottom: 50px;
}

.top3{
    /* color: black; */
    background-color: rgb(167, 112, 68);
}

.leaderboard #usr{
    font-size:  25px;
}

.avmbody{
    position: relative;
    width: 1200px;
    height: 480px;
    background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-y: scroll; */
    z-index: 20;
}

.achievement{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.5s;
}

#avm:target{
    visibility: visible;
    opacity: 1;
}

.avmheader{
    width: 50%;
    margin: auto;
    background-color: gold;
    text-align: center;
    justify-content: center;
    border: 5px;
    border-radius: 5px;
}

.avmtable{
    /* margin: auto; */
    position: absolute;
    right: 10%;
    color: white;
    width: 700px;
    margin-top: 10px;
    /*  display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 10px solid black;
    border-collapse: collapse;
    /* overflow-y: scroll; */
    text-align: left;
}

#normal{
    width: 50%;
}

.avmth{
    border: 5px solid black;
    padding: 30px;
}

.avmbody > img{
    position: absolute;
    /* padding: 10px; */
    left: 2.5%;
    width: 300px;
    height: 350px;
    top: 10%;
}

.avmbody .avm img{
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
}



.achievement a{
    background-color: rgba(14,59,132,255);
    background-image: radial-gradient(150% 160% at 50% 15%, hsla(0, 0%, 100%, 0.4), transparent 30%);
    padding: 1% 5%;
    /* width: 40%; */
    text-align: center;
    /* width: 8%; */
    /* position: absolute; */
    /* left: 0; */
    position: absolute;
    bottom: 5%;
    left: 43%;
    font-size: 100%;
    color: aliceblue;
    box-shadow:  inset 0 0.0625rem 0 hsla(0, 0%, 100%, .2), inset 0 -0.125rem 0 rgba(0, 0, 0, .3);
    text-decoration: none;
    /* display: flex; */
    /* margin-bottom: 16%; */
    /* margin-right: 0%; */
    /* z-index: 10; */
    border-radius: 8px;
}