*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(gradient_abstraction_blue_205793_3840x2160.jpg); 
    background-size: 100%;
    /* linear-gradient(to bottom right, purple, blue, rgb(32,202,255)); */
}

