<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
        <title>King of Melody</title>
        <style>
            @font-face {
            font-family: neosans;
            src: url("../../assets/font/UTM_Neo_Sans_IntelBold_Italic.ttf");
            } 
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: neosans;
            }
            html {
                height: 100vh;
                /*background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));*/
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .reset-password-form {
                width: 50vw;
                height: 50vh;
                background-color: white;
                border-radius: 15px;
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
            }

            .reset-password-form .title {
                color: #df4adf;
                font-size: 35px;
                margin: 80px 100px 10px 100px;
            }

            .reset-password-form .input-field {
                width: 90%;
                height: 50px;
                background: #f0f0f0;
                margin: 10px 0;
                border: 2px solid #df4adf;
                border-radius: 50px;
                display: flex;
                align-items: center;
            }

            .reset-password-form .input-field i {
                flex: 1;
                text-align: center;
                color: #666;
                font-size: 18px;
            }

            .reset-password-form .input-field input {
                flex: 5;
                background: none;
                border: none;
                outline: none;
                width: 100%;
                font-size: 18px;
                font-weight: 600;
                color: #444;
            }

            .btn {
                width: 150px;
                height: 50px;
                border: none;
                border-radius: 50px;
                background: #f960f9;
                color: #fff;
                font-weight: 600;
                margin: 10px 0;
                text-transform: uppercase;
                cursor: pointer;
            }

            .btn:hover {
                background-color: #444;
            }
        </style>
        <style type="text/css">
            .wrapper-warning > img {
                width: 50vw;
            }
            .wrapper-warning {
                height: 100vh;
                display: none;
                flex-direction: column;
                color: white;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            @media only screen and (orientation:portrait) {
                .wrapper-warning {
                    display: flex;
                }
                .wrapper {
                    display: none;
                }
            }

            @media only screen and (orientation:landscape) {
                .wrapper-warning {
                    display: none;
                }
                .wrapper {
                    display: block;
                }
            }
        </style>
    </head>

    <body>
        <div class="wrapper">
            <div class="container">
                <form method="POST" action="/resetPassword/process" class="reset-password-form">
                    <h2 class="title">Quên mật khẩu</h2>
                    
                    <div class="input-field">
                        <i class="fa fa-user"></i>
                        <input type="text" name="email" placeholder="Email">
                    </div>                   
                    <button type="submit" class="btn">Xác nhận</button>
                </form>
            </div>
        </div>
        <div class="wrapper-warning">
            <img src="/assets/img/phone-rotate.png" alt="">
            <div class="warning-content">Xoay ngang màn hình để tiếp tục sử dụng trang web</div>
        </div>
        
    </body>
</html>