<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png" sizes="32x32">
        <script src="https://kit.fontawesome.com/d42216d8d0.js" crossorigin="anonymous"></script>
        {{!-- <link rel="stylesheet" href="../assets/sign.css"> --}}
        <title>Signin-Signup</title>
        <style>
            @font-face {
            font-family: neosans;
            src: url("/assets/font/UTM_Neo_Sans_IntelBold_Italic.ttf");
            } 
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: neosans;
            }
            html {
                height: 100vh;
                background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236)); --}}
                display: flex;
                align-items: center;
                justify-content: center;
            }

            body {
                align-items: center;
                justify-content: center;
                display: flex;
                position: relative;
                font-family: neosans;
                /* background-image: linear-gradient(132deg, rgb(228, 157, 252), rgb(168, 98, 230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69, 6, 191), rgb(61, 7, 185), rgb(65, 19, 185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236)); */
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .container {
                background: white;
                display: flex;
                flex-direction: column;
                width: 80vw;
                justify-content: center;
                align-items: center;
                color: #df4adf;
                border-radius: 15px;
            }
            
            .container .title-1 {
                padding: 10px;
            }

            .container i {
                font-size: 5em;
                display: flex;
                justify-content: center;
            }

            .container .guide {
                padding: 10px;
                text-align: center;
            }
            .wrapper-warning > img {
                width: 50vw;
            }
            .wrapper-warning {
                height: 100vh;
                display: none;
                flex-direction: column;
                color: white;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            @media only screen and (orientation:portrait) {
                .wrapper-warning {
                    display: flex;
                }
                .wrapper {
                    display: none;
                }
            }

            @media only screen and (orientation:landscape) {
                .wrapper-warning {
                    display: none;
                }
                .wrapper {
                    align-items: center;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                }
            }
        </style>
    </head>

    <body>
        <div class="wrapper">
            <div class="container">
                <div class="input-field">
                    <h2 class="title-1">Mail xác thực đã được gửi đến {{email}}</h2>
                    <i class="fa-solid fa-circle-check"></i>
                    <h3 class="guide">Vui lòng kiểm tra để hoàn tất đăng ký tài khoản</h3>
                </div>                   
            </div>
        </div>
        <div class="wrapper-warning">
            <img src="/assets/img/phone-rotate.png" alt="">
            <div class="warning-content">Xoay ngang màn hình để tiếp tục sử dụng trang web</div>
        </div>
    </body>
</html>