
    <div id="header">
        <div class="left_header">
            <div class="logo">
                <img src="/assets/img/Logo_LTMCB.png" alt="logo" >
            </div>
        </div>
        
        <div class="right_header">
                <div class="ava">
                    <img src="/assets/img/Avatar_header.jpg" alt="" >
                </div>
                <div class="indexer" >
                    <div class="nav">
                        <p class = "username" id = "username">
                            KING_OF_MELODY
                            <i class="nav-arrow-down fa-solid fa-angle-down" onclick="icon_arrow(this)"></i>
                        </p>
                        <div class="subnav" id = "subnav">
                            <div class="background">
                                <a href="/profile/{{userId}}">
                                    <div class="profile">HỒ SƠ</div>
                                </a>
                                <form action="/home/logout" method="post">
                                    <button type ="submit" class="signout">ĐĂNG XUẤT</button>
                                </form>
                            </div>
                            
                        </div>                      
                    </div>                            
                    <!-- <button class="button1">
                                <b><a href="signin.html">Đăng nhập/ Đăng ký</a></b>
                    </button> -->
                </div>

        </div>
    </div>


    <div id="content">
        <div class="menubtn">
            <ul>
                <li id = "cd_thuong">CHẾ ĐỘ THƯỜNG</li>
                <li id = "cd_xep_hang">MULTIPLAYER</li>
                <li><a href="#avm" >THÀNH TÍCH</a></li>
                <li><a href="#ldtest" >BẢNG XẾP HẠNG</a></li>
            </ul>
        </div>

        <div class="button">
            <img src="/assets/img/Speaker.png"  alt="Speaker" class="speaker">
            <img src="/assets/img/lonelygirl.jpg" alt="Lonely Girl" class="girl">
            <a href="playsingle" class="playclick"><b>PLAY</b></a>
            
        </div>
        
    </div>

    <div id="footer">
        <div class="menu_btn">
                <button type="submit" class="menu_btn_btn" >
                    <a href="/setting/{{userId}}" class="menu_btn_dt">
                        <i class="fa-solid fa-gear"></i>
                        <span><b>CÀI ĐẶT</b></span>
                    </a>
                </button>
                <button class="menu_btn_btn">
                    <a href="#" class="menu_btn_dt">
                        <i class="fa-solid fa-book"></i>
                        <span><b>HƯỚNG DẪN</b></span>
                    </a>
                </button>   
        </div>
        <div class="para"><b> A product of team11!</b></div>
    </div>

    <div class="modal_thuong" id ="team_modal_thuong">
        <!-- <div class="select_mode_overlay"></div> -->

        <div class="select_normal_mode_body">

            <div class="select_normal_mode_header">
                <div class="select_normal_mode_return">
                    <span class = "return_thuong">TRỞ LẠI</span>
                    <div class="select_normal_mode_information">
                        <img src="/assets/img/Avatar_header.jpg" alt="Avatar" class="avatar">
                        <div class="information">
                            <div class="username">
                                King_Of_Melody
                            </div>
                            <div class="point_number">
                                <div class="point">
                                    Điểm
                                </div>
                                <div class="number">
                                    1000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="select_normal_mode_img">
                <div class="select_normal_mode_img_Heaven">
                    <img src="/assets/img/Heaven.jpg" alt="Heaven" class="Heaven"> 
                </div>

                <div class="select_normal_mode_img_Hell">
                    <img src="/assets/img/Gates_Of_Hell.png" alt="Gates_Of_Hell" class="Hell">
                </div>

                <div class="select_normal_mode_img_Waste_land">
                    <img src="/assets/img/Waste_land.jpg" alt="" class="Waste_land">
                </div>
            </div>
            <form action="/playsingle" method="get">
            <div class="select_normal_mode_radio">
                <label  class="container">Khó
                    <input type="radio"  name ="mode" value="hard" checked="checked" >
                    <span class="checkmark"></span>
                </label>

                <label  class="container">Địa ngục
                    <input type="radio" name ="mode" value="hell">
                    <span class="checkmark"></span>
                </label>
                
                <label class="container">Tuyệt vọng
                    <input type="radio" name ="mode" value="no hope">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="select_normal_mode_play_button">
                <button type="submit"  class="playclick" href="/playsingle"><b>PLAY</b></button>
            </div>

            </form>
        </div>

    </div>

    <div class="modal_xep_hang" id ="team_modal_xep_hang">
        <!-- <div class="select_mode_overlay"></div> -->

        <div class="select_rank_mode_body">

            <div class="select_rank_mode_header">
                <div class="select_rank_mode_return">
                    <span class = "return_xep_hang">TRỞ LẠI</span>
                    <div class="search_room">
                        <input type="text" placeholder="Mã phòng hoặc tên phòng">
                        <button class="find">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </button>
                        
                    </div>
                    <div class="select_rank_mode_information">
                        <img src="/assets/img/Avatar_header.jpg" alt="Avatar" class="avatar">
                        <div class="information">
                            <div class="username">
                                King_Of_Melody
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="select_rank_mode_center">

                <div class="select_rank_mode_img">
                    <img src="/assets/img/avatar.png" alt="" class="img">
                </div>

                <div class="select_rank_mode_center_center">

                    <div class="select_rank_mode_center_rank_point">
                        <div class="select_rank_mode_rank_img">
                            <img src="/assets/img/rank.png" alt="" class="rank_img">
                            <div class="select_rank_mode_rank">
                                <b>bronze</b>
                            </div>
                            <img src="/assets/img/rank.png" alt="" class="rank_img">
                        </div>

                        <div class="point_number">
                            <div class="point">
                                Điểm
                            </div>
                            <div class="number">
                                1000
                            </div>
                        </div>
                    </div>

                    <div class="select_rank_mode_button">
                        <button class="createclick" id = "create_room"><b>Tạo phòng</b></button>
                        <button class="playclick"><b><a href="/playmulti">Vào nhanh</a></b></button>
                    </div>
                </div>

                <div class="select_rank_mode_center_right_rank">
                    <img src="/assets/img/bronzerank.png" alt="" class="rank">
                </div>

            </div>
            
        </div>

    </div>

    <div class="modal_create_room" id = "team_modal_create_room">
        <div class="create_room_body">
            <div class="create_room_header">
                <div class="create_room_return">
                    <span class = "return_create_room">TRỞ LẠI</span>
                </div>
            </div>

            <div class="create_room_content">
                <div class="create_room_input">
                    <label for="Name">Tên phòng</label><br>
                    <input type="text" placeholder="Tên phòng">
                </div>

                <div class="create_room_create">
                    <button class="create"><a href="indexsingle">index</a></button>
                </div>
            </div>
        </div>

    </div>
    <!-- Leaderboard -->
    <div class="leaderboard" id="ldtest">
        <div class="overlay">

        </div>
        <div class="ldboardbody">
            <div class="ld">
                <h1 class = "ldheader">Leaderboard</h1>
                <table class="rank" ><a href="#">Trở lại</a>
                    <tr id="lr">
                        <thead>
                        <th id="lr">Xếp hạng</th>
                        <th id="lr">Tên tài khoản</th>
                        <th id="lr">Rank</th>
                        <th id="lr">Điểm</th>
                        </thead>
                    </tr>
                    <tbody>
                    <tr>
                        <th class="top1">1</th>
                        <th class="top1" id="usr">username</th>
                        <th class="top1">challenger</th>
                        <th class="top1">1000đ</th>
                    </tr>
                    <tr>
                        <th class="top2">2</th>
                        <th class="top2" id="usr">username</th>
                        <th class="top2">challenger</th>
                        <th class="top2">1000đ</th>
                    </tr>
                    <tr>
                        <th class="top3">3</th>
                        <th class="top3" id="usr">username</th>
                        <th class="top3">challenger</th>
                        <th class="top3">1000đ</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th id="usr">username</th>
                        <th>challenger</th>
                        <th>1000đ</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th id="usr">username</th>
                        <th>challenger</th>
                        <th>1000đ</th>
                    </tr>
                    <tr>
                        <th>6</th>
                        <th id="usr">username</th>
                        <th>challenger</th>
                        <th>1000đ</th>
                    </tr>
                    <tr>
                        <th>7</th>
                        <th id="usr">username</th>
                        <th>challenger</th>
                        <th>1000đ</th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <th id="usr">username</th>
                        <th>challenger</th>
                        <th>1000đ</th>
                    </tr>
                    <tr>
                        <th>9</th>
                        <th id="usr">username</th>
                        <th>challenger</th>
                        <th>1000đ</th>
                    </tr>
                    <tr>
                        <th>10</th>
                        <th id="usr">username</th>
                        <th>challenger</th>
                        <th>1000đ</th>
                    </tr>
                    
                    </tbody>
                    
                </table>
            </div>
            
        </div>
    </div>
    <!-- Thành tích -->
    <!-- <div class="achievement" id="avm">
        <div class="overlay">

        </div>
        <div class="avmbody">
            <img src="assets/img/avatar.png" alt="avt">
            <div class="avm">
                <h1 class="avmheader">Achivement</h1>
                <table class="avmtable">
                    <tr>
                        <th class="avmth" id="username"><img src="assets/img/Avatar_header.jpg" alt="avatar">Username: username</th>
                        <th class="avmth" id="normal">Normal: 50/50</th>
                    </tr>
                    <tr>
                        <th class="avmth" id="rank">Rank: challenger</th>
                        <th class="avmth" id="point">Điểm rank: 1000đ</th>
                    </tr>
                    <tr>
                        <th class="avmth" id="ranking">Đứng xếp hạng: 1</th>
                        <th class="avmth" id="shortestime">Shortesttime: 1s</th>
                    </tr>
                </table>
                <div><a href="#">Trở lại</a></div>
            </div>
        </div>
    </div> -->

    <script src="/modal_normal_rank.js"></script>
