<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>King of Melody</title>
        <link rel="stylesheet" href="../assets/playweb-multi.css">
        <script src="https://kit.fontawesome.com/d42216d8d0.js" crossorigin="anonymous"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" 
        integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.core.min.js" 
        integrity="sha512-+wqa4/aOL4vwhL637A4p+6epqhUHDqpEfYJa1+PlzlMf908CSOb3xtIeKwZWh5Q0Q/R2nYUKxH4vvcQg+k8KKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js" 
        integrity="sha512-dMiBqqEV5i3KqpAdsgQSSZ72DnNib7otY0X+b/Tnn1EmLym1dxuZ19csdZqBnfDniKd9bmNtzStQzuMrIa5Ngw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div class="container">
            
            <div class="play-area">
                <div class="info">
                    <div class="player1-info">
                        <div class="player1-info-illustrator">
                            <img src="/assets/img/ava-crop.png" alt="">
                            <div class="score-parallelogram">
                                <div class="score-wrapper">
                                    <h2 class="score-label" id="Score_player1">0</h2> 
                                </div>
                            </div>
                        </div>
                        <h2 class="player1-name">Player1's Name</h2>
                    </div>
                    <div class="round-time">
                        <div class="round-info">
                            Round<br>
                            <h3 id="Round_play">1/10</h3>
                        </div>
                        <div class="time-info">
                            Time<br>
                            <h3 id="Time_duration">12:30</h3>
                        </div>
                    </div>
                    <div class="player2-info">
                        <div class="player2-info-illustrator">
                            <img src="/assets/img/ava-crop.png" alt="">
                            <div class="score-parallelogram">
                                <div class="score-wrapper">
                                    <h2 class="score-label" id="Score_player2">1000</h2> 
                                </div>
                            </div>
                        </div>
                        <h2 class="player2-name">Player2's Name</h2>
                    </div>
                </div>
                
                <div class="disc">
                    
                    <img src="/assets/img/dianhac2.png" class="discimg" id="music_disc" alt="disc">
                    
                    <div class="btn">
                        <div><input type="range" value="0" id="progress"></div>
                        
                        <div id="progress-control">
                            <div><i class="fa-solid fa-volume-low" id="decrease-volume"></i></div>
                            <div><i class="fa-solid fa-pause" id="ctrlIcon"></i></div>
                            <div><i class="fa-solid fa-volume-high" id="increase-volume"></i></div>
                        </div>
                    </div>
                    
                </div>
                <div class="answer">
                    <input type="text" id="answer_song" placeholder="Nhập tên bài hát">
                    
                    <button id="guessButton">Đoán</button>
                </div>
            </div>
        </div>
        
        <div id="end-model">
            <div class="bg-model">
                <img src="/assets/img/music-wave.gif" alt="" class="rank_img">
                <div class="end-model-content">
                    <h2>Trò chơi kết thúc!</h2>
                    <h3 id="end-model-score">Điểm của bạn: <span id="endpoint"></span> </h3>
                </div>
                <img src="/assets/img/music-wave.gif" alt="" class="rank_img">
            </div>
            <div class="img-model">
                <img src="/assets/img/zero-two-02.gif" alt="" id="img-model-ava">
            </div>
            <div class="btn-model">
                <button class="home-btn" id="btn-detail" >
                    <span id="btn">
                        <h3>Chi tiết</h3>
                    <span>
                </button>
                <button class="home-btn">
                    <a href="" class="home-btn-a">
                        <h3>Chơi tiếp</h3>
                    </a>
                </button>
                <button class="home-btn">
                    <a href="/home" class="home-btn-a">
                        <h3>Trang chủ</h3>
                    </a>
                </button>
            </div>
        </div>
        <div id="detail-model">
            <div class="bg-model">
                <img src="/assets/img/music-wave.gif" alt="" class="rank_img">
                <div class="header">
                    <div class="end-model-content">
                        <h3 id="end-model-score">Điểm của bạn: <span id="detailendpoint"></span> </h3>
                    </div>
                    <div class="num-ans">
                        <h3>Đúng: <span id="num-r"></span></h3>
                        <h3>Sai: <span id="num-w"></span></h3>
                    </div>
                </div>
                <img src="/assets/img/music-wave.gif" alt="" class="rank_img">
            </div>
            <div class="song-detail">
                <h2>Thông Tin Bài hát</h2>
                {{#each infolist}}
                <div class="songlist">
                    <a href="{{this.link}}" target="_blank"><p>    {{this.name}} - {{this.singer}}</p></a>
                </div>
                {{/each}}
            </div>
            <div class="btn-model">
                <button class="home-btn-1" id="return">
                    <a href="" class="home-btn-a">
                        <h3>Trở lại</h3>
                    </a>
                </button>
                <button class="home-btn-1">
                    <a href="" class="home-btn-a">
                        <h3>Chơi tiếp</h3>
                    </a>
                </button>
                <button class="home-btn-1">
                    <a href="/home" class="home-btn-a">
                        <h3>Trang chủ</h3>
                    </a>
                </button>
            </div>
        </div>
        <input type="hidden" id="songsInput" data-songs="{{songs}}">

        <script src="playmultiplayer.js"></script>
    </body>
</html>