<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>King of Melody</title>
        <link rel="stylesheet" href="../assets/playweb.css">
        <script src="https://kit.fontawesome.com/d42216d8d0.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" 
        integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.core.min.js" 
        integrity="sha512-+wqa4/aOL4vwhL637A4p+6epqhUHDqpEfYJa1+PlzlMf908CSOb3xtIeKwZWh5Q0Q/R2nYUKxH4vvcQg+k8KKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js" 
        integrity="sha512-dMiBqqEV5i3KqpAdsgQSSZ72DnNib7otY0X+b/Tnn1EmLym1dxuZ19csdZqBnfDniKd9bmNtzStQzuMrIa5Ngw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div class="container">
            <div class="hint">
                <h2>Bài hát gợi ý</h2>
                {{#each hintlist}}
                <div class="hintlist-1">
                    <h3>{{this.name}}</h3>
                    <p>{{this.singer}}</p>
                </div>
                {{/each}}
            </div>
            <div class="play-area">
                <div class="info">
                    <div class="round-info">
                        Round<br>
                        <h3 id="Round_play">1/10</h3>
                    </div>
                    <div class="player-info">
                        <img src="assets/img/ava-crop.png" alt="">
                        <p>PlayerName</p>
                    </div>
                    <div class="time-info">
                        Time<br>
                        <h3 id="Time_duration">12:30</h3>
                    </div>
                    <div class="point-info">
                        Point<br>
                        <h3 id="Point_play">0</h3>
                    </div>
                    
                    </div>
                
                <div class="disc">
                    {{!-- <audio src="data:audio/mpeg;base64,{{curSong.content}}" id="audio" autoplay controls></audio> --}}
                    <img src="/assets/img/dianhac2.png" class="discimg" id="music_disc" alt="disc">
                    
                    <div class="btn">
                        <div><input type="range" value="0" id="progress"></div>
                        
                        <div id="progress-control"> 
                            <div><i class="fa-solid fa-volume-low" id="decrease-volume"></i></div>
                            <div><i class="fa-solid fa-pause" id="ctrlIcon"></i></div>
                            <div><i class="fa-solid fa-volume-high" id="increase-volume"></i></div>
                        </div>
                    </div>
                    
                </div>
                <div class="answer">
                    <input type="text" id="answer_song" placeholder="Nhập tên bài hát">
                    <button id="guessButton">Đoán</button>
                </div>
            </div>
        </div>
        <!-- <div class="modal">
            <div class="modal-correct-answer">
                <h2 class="label">
                    Bạn đã đoán đúng tên bài hát.
                </h2>
                <div class="gif-img">
                    <img src="../../assets/img/200w.gif" alt="">
                    {{!-- <p><a href="https://giphy.com/gifs/5VKbvrjxpVJCM">via GIPHY</a></p> --}}
                </div>
                <div class="point-gain">
                    <h2 class="point">
                        Điểm nhận được
                    </h2>
                </div>
                <button class="nextroundBtn">Vòng tiếp theo</button>
            </div>
            <div class="modal-wrong-answer">
                <h2 class="label">
                    Bạn đã đoán sai tên bài hát
                </h2>
                <div class="gif-img">
                    {{!-- <img src="https://giphy.com/embed/xMFAPwvgAK1Lj1EmEM" alt=""> --}}
                    <iframe src="https://giphy.com/embed/xMFAPwvgAK1Lj1EmEM" frameBorder="0" class="giphy-embed" style="pointer-events: none;"></iframe>
                    {{!-- <img src="../../assets/img/200w.gif" alt=""> --}}
                    {{!-- <p><a href="https://giphy.com/gifs/5VKbvrjxpVJCM">via GIPHY</a></p> --}}
                </div>
                <div class="answer-container">
                    <h2 class="answer">
                        Đáp án 
                    </h2>
                </div>
                <button class="linksong"><a href="">Thưởng thức bài hát</a></button>
                <button class="nextroundBtn">Vòng tiếp theo</button>
            </div>
            <div class="modal-end">
                <h2 class="label">
                    Trò chơi kết thúc
                </h2>
                {{!-- <div class="gif-img">
                    <iframe src="https://giphy.com/embed/OcG0F2nFdjwBjlPogU" 
                    frameBorder="0" class="giphy-embed-1" 
                    style="pointer-events: none;"></iframe>
                    <iframe src="https://giphy.com/embed/OcG0F2nFdjwBjlPogU" 
                    frameBorder="0" class="giphy-embed-2" 
                    style="pointer-events: none;"></iframe>
                </div> --}}
                <div class="statistic">
                    <iframe src="https://giphy.com/embed/OcG0F2nFdjwBjlPogU" 
                    frameBorder="0" class="giphy-embed-1" 
                    style="pointer-events: none;"></iframe>
                    <div class="content">
                        <h2 class="round">
                            Số vòng đoán đúng 
                        </h2>
                        <h2 class="round-details">
                            Số vòng đoán đúng 
                        </h2>
                        <h2 class="point">
                            Điểm đạt được
                        </h2>
                        <h2 class="point-details">
                            Điểm đạt được
                        </h2>
                    </div>
                     <iframe src="https://giphy.com/embed/OcG0F2nFdjwBjlPogU" 
                    frameBorder="0" class="giphy-embed-2" 
                    style="pointer-events: none;"></iframe>
                </div>
                <button class="return-home"><a href="/home/:userId">Trở về trang chủ</a></button>
                <button class="replay">Chơi lại</button>
            </div>
        </div> -->
        
        <input type="hidden" id="songsInput" data-songs="{{songs}}">
        <script src="playsingleplayer.js"></script>
    </body>
</html>