<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../assets/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" 
    integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.core.min.js" 
    integrity="sha512-+wqa4/aOL4vwhL637A4p+6epqhUHDqpEfYJa1+PlzlMf908CSOb3xtIeKwZWh5Q0Q/R2nYUKxH4vvcQg+k8KKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js" 
    integrity="sha512-dMiBqqEV5i3KqpAdsgQSSZ72DnNib7otY0X+b/Tnn1EmLym1dxuZ19csdZqBnfDniKd9bmNtzStQzuMrIa5Ngw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="layer">
        <div class="_header">
            <header class="header_header">
                <div class="side_nav">
                    <div class="menu"></div>
                    <div class="back_main">
                        <a href="/home/{{userId}}">
                            <span class="material-symbols-outlined">
                                arrow_back
                            </span>
                        </a>
                    </div>
                </div>
                <div class="label">Profile</div>
                <div class="right_header">
                    <div class="player" >
                        <div class="nav">
                            <div class = "username" id = "username">
                                <img src="/assets/img/Avatar_header.jpg" alt="" >
                                <span id="user_logo">KING_OF_MELODY</span>
                                <span class="material-symbols-outlined" id="icon_nar">
                                    keyboard_arrow_up
                                </span>
                            </div>
                            <div class="subnav" id = "subnav">
                                <div class="background">
                                    <a href="profile">
                                        <div class="profile">HỒ SƠ</div>
                                    </a>
                                    <a href="start">
                                        <div class="signout">ĐĂNG XUẤT</div>
                                    </a>
                                </div>
                            </div>                      
                        </div>                            
                    </div>
                </div>
            </header>
        </div>
        <main class="_main">
            <div class="container_ctx">
                <div class="profile_header">
                    <div class="div_gif">
                        <img src="/assets/img/toothless-dancing-toothless.gif" alt="" class="img_gif">
                    </div>
                    <div class="profile_header_aside">
                        <div class="profile_userrank">rank</div>
                        <div class="profile_username">name</div>
                        <div class="profile_progress">
                            <div class="progress_bar">
                                <div class="progress_lv" style="color: mediumspringgreen;">Lv 1</div>
                                <div class="progress-bar">
                                    <div class="progress-bar-inner"></div>
                                    <span class="progress-bar-label">80/150</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile_main">
                    <div class="boundary"></div>
                    <div class="profile_main_inf">
                        <div class="main_label">Stastics</div>
                        <div class="main_mask">
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">COMPLETED GAMES</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">BEST GAME</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">Avg. GAME SCORE</div>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="main_label">Duels</div>
                        <div class="main_mask">
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">HARD MODE GAME PLAYED</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">HARD MODE GAME WINS</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0.00%</div>
                                <div class="mask_des">HARD MODE WIN RATIO</div>
                            </div>
                        </div>
                        <div class="main_mask">
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">HELL MODE GAME PLAYED</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">HELL MODE GAME WINS</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0.00%</div>
                                <div class="mask_des">HELL MODE WIN RATIO</div>
                            </div>
                        </div>
                        <div class="main_mask">
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">NO HOPE MODE GAME PLAYED</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">NO HOPE MODE GAME WINS</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0.00%</div>
                                <div class="mask_des">NO HOPE MODE WIN RATIO</div>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="main_label">Multipalyer</div>
                        <div class="main_mask">
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">GAME PLAYED</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">GAME WINS</div>
                            </div>
                            <div class="mask_item">
                                <div class="mask_number">0</div>
                                <div class="mask_des">WIN RATIO</div>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                    <div class="boundary" style="margin: 0;"></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="vlInput" value="{{VL}}">
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <script src="/resources/views/profile.js"></script>
</body>
</html>