<form method="post" action="/test">
    <div class="form-group">
        <label for="search-input">Từ khóa</label>
        <input type="text" name="keyword" id="search-input">
    </div>
    <button type="submit" class="btn">Tìm kiếm</button>
</form>