@font-face {
    font-family: neosans;
    src: url("font/UTM_Neo_Sans_IntelBold_Italic.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neosans;
}

body {
    background: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    height: 100vh;
}
.wrapper-warning > img {
    width: 50vw;
}
.wrapper-warning {
    height: 100vh;
    display: none;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media only screen and (orientation:portrait) {
    .wrapper-warning {
        display: flex;
    }
    .container {
        position: relative;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        color: white;
        flex-grow: 1;
    }
}

@media only screen and (orientation:landscape) {
    .wrapper-warning {
        display: none;
    }.container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        color: white;
        flex-grow: 1;
    }
    
    .container .play-area img{
        width: 20%;
    }
    
    .container .play-area .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    .container .play-area .info .player1-info {
        display: flex;
        flex-direction: column;
        line-height: 5vh;
        width: 28vw;
    }
    
    .container .play-area .info .player1-info h2 {
        font-size: 1.7vw;
    }
    
    .container .play-area .info .player1-info .player1-info-illustrator {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1vh;
        position: relative;
    }
    
    .container .play-area .info .player1-info .player1-info-illustrator .score-parallelogram {
        width: 11vw;
        height: 3vw;
        background-color: #f53192;
        transform: skew(-20deg);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 2em;
    }
    
    .container .play-area .info .player1-info .player1-info-illustrator .score-wrapper {
        width: 9vw;
        height: 2vw;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-left: 1vw;
    }
    
    .container .play-area .info .player1-info .player1-info-illustrator .score-parallelogram .score-label {
        transform: skew(20deg);
        text-transform: none;
        font-size: 3.3 vh;
    }
    
    .container .play-area .info .player1-info .player1-info-illustrator>img {
        z-index: 1;
        width: 15vh;
    }
    
    .container .play-area .info .round-time {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 5em;
        width: 29vw;
    }
    
    .container .play-area .info .round-info {
        line-height: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1vw;
        border-left: 1px solid white;
        padding-left: 1.7vw;
    }
    
    .play-area .info .round-info h3{
        font-size: 2vw;
        padding-top: 2vh;
    }
    
    .container .play-area .info .time-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 5vh;
        border-left: 1px solid white;
        padding-left: 1.7vw;
        padding-right: 1vw;
    }
    
    .container .play-area .info .btn-back {
        width: 2.6vw;
        height: 2.6vw;
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #f53192;
        cursor: pointer;
    }
    .container .play-area .info .btn-back a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .container .play-area .info .btn-back:hover {
        transform: scale(1.5);
        background-color: #f53192;
        color: #fff;
    }
    
    .container .play-area .info .room-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 5vh;
        border-left: 1px solid white;
        padding-left: 2vw;
    }
    
    .container .play-area .info .room-info h3 {
        font-size: 2vw;
        padding-top: 2vh;
    }
    
    .container .play-area .info .time-info h3 {
        font-size: 2vw;
        padding-top: 2vh;
    }
    
    .container .play-area .info .player2-info {
        display: flex;
        flex-direction: column;
        line-height: 5vh;
        width: 28vw;
        padding-left: 3.2vw;
    }
    
    .container .play-area .info .player2-info .player2-info-illustrator {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 1vh;
        position: relative;
    }
    
    .container .play-area .info .player2-info .player2-info-illustrator .score-parallelogram {
        width: 11vw;
        height: 3vw;
        background-color: #f53192;
        transform: skew(20deg);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 3em;
    }
    
    .container .play-area .info .player2-info .player2-info-illustrator .score-wrapper {
        width: 9vw;
        height: 2vw;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-right: 1vw;
    }
    
    .container .play-area .info .player2-info .player2-info-illustrator .score-parallelogram .score-label {
        transform: skew(-20deg);
        text-transform: none;
        font-size: 3.3vh;
    }
    
    .container .play-area .info .player2-info .player2-info-illustrator>img {
        z-index: 1;
        width: 15vh;
    }
    
    .container .play-area .info .player2-info .player2-name {
        text-align: end;
        font-size: 1.7vw;
    }
    
    .player2_icon
    {
        position: absolute;
        top: 7vh;
        right: 24vw;
    }
    
    .container .play-area .info .player2-info .subnav::before{
        background: transparent;
        border-bottom: .6rem solid rgba(16, 16, 28, .5);
        border-left: .4rem solid transparent;
        border-right: .4rem solid transparent;
        border-top: 0;
        content: "";
        display: block;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: -.59rem;
        width: 0;
    }
    
    .container .play-area .info .player2-info .subnav{
        background: rgba(16, 16, 28, .5);
        border-radius: .6rem;
        padding: 10px;
        margin: 0 auto;
        position: absolute;
        top: 23vh;
        right: 4vw;
        transition: .15s ease;
        z-index: 1000;
        display: none;
    }
    .container .play-area .info .player2-info .subnav .background{
        padding: 6px;
        width: 20vw;
    }
    
    .container .play-area .info .player2-info .chat{
        width: 18vw;
        line-height: 3vh;
        cursor: pointer;
        background: none;
        text-decoration: none;
        border: none;
        font-family: neosans;
        color: white;
        font-size: 0.75rem;
        text-align: center;
        word-wrap: break-word;
    }
    
    .container .play-area .disc {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .container .play-area .disc .button{
        display: flex;
        flex-direction: column;
        margin-left: 2vh;
        margin-bottom: 2vh;
    }
    
    .chat_
    {
        position: relative;
        top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .chat_player{
        width: 4vw;
        height: 4vw;
        border: 0;
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #ff1252;
        cursor: pointer;
        z-index: 100;
        font-size: 1.5em;
        position: relative;
        
        /* top: 5vh; */
    }
    .send-field {
        position: fixed;
        padding: 0 1em;
        width: 22vw;
        height: 6vh;
        background: #f0f0f0;
        margin: 10px 0;
        border: 2px solid #df4adf;
        border-radius: 50px;
        z-index: 999;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        left: 11vw;
        top: 35vh;
    }
    .send-field button{
        border: 0;
        background: none;
    }
    .send-field i {
        flex: 1;
        text-align: center;
        color: #666;
        font-size: 18px;
        cursor: pointer;
    }
    
    .send-field i:hover {
        flex: 1;
        text-align: center;
        color: #ff1252;
        font-size: 18px;
        cursor: pointer;
    }
    
    .send-field i:active {
        flex: 1;
        text-align: center;
        color: #ff1252;
        font-size: 18px;
        cursor: pointer;
    }
    
    .send-field input {
        background: none;
        border: none;
        outline: none;
        width: 17vw;
        font-size: 2vh;
        font-weight: 400;
        color: #444;
    }
    .send-field .send-container {
        display: flex;
        align-items: center;
    }
    
    .container .play-area .circle
    {
        position: relative;
        top: 6vh;
        width: 16vw;
        height: 19vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .play-area .circle li
    {
        cursor: pointer;
        position: absolute;
        left: 0;
        list-style: none;
        transform-origin: 8vw;
        transition: 0.5s;
        transition-delay: calc(0.1s * var(--i));
        transform: rotate(0deg) translateX(7vw); 
    }
    
    .container .play-area .circle.active li
    {
        transform: rotate(calc(360deg / 6 * var(--i)));
    }
    
    .container .play-area .circle li div
    {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3vw;
        height: 3vw;
        background: #fff;
        border-radius: 50%;
        transform: rotate(calc(360deg / -6 * var(--i)));
        box-shadow: 0 3px 4px rgba(0, 0, 0 , 0.15);
        color: #111;
        transition: 0.5s;
    }
    
    .container .play-area .circle li div:hover
    {
        color: #ff1252;
    }
    
    .container .play-area .toggle
    {
        position: absolute;
        color: #ff1252;
        width: 4vw;
        height: 4vw;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); 
        font-size: 2em;
        transition: transform 1.25s;
    }
    
    .container .play-area .circle.active .toggle
    {
        transform: rotate(360deg);
    } 
    
    .container .play-area .disc_progress {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2vh;
    }
    
    .container .play-area .disc img {
        width: 35%;
    }
    
    .container .play-area .disc .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container .disc .btn #progress {
        /* -webkit-appearance: none; */
        width: 51vh;
        height: 0.3em;
        background: #f53192;
        border-radius: 4px;
        cursor: pointer;
        margin: 2.5em 0;
        rotate: -90deg;
    }
    
    .container .disc .btn #progress::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 2em;
        height: 2em;
        background: #f53192;
        border-radius: 50%;
        border: 0.5em solid #fff;
    }
    
    .container .disc .btn #progress-control {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .container .disc .btn #progress-control div {
        width: 2.5em;
        height: 2.5em;
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #f53192;
        cursor: pointer;
        margin: 1em;
    }
    
    .container .disc .btn #progress-control div:hover{
        transform: scale(1.5);
        background-color: #f53192;
        color:#fff;
    }
    
    .container .disc .btn #progress-control div:nth-child(1){
        rotate: -90deg;
    }
    
    .container .disc .btn #progress-control div:nth-child(3){
        rotate: -90deg;
    }
    
    .container .play-area .answer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .play-area .answer input {
        background-color: #eee;
        border: none;
        border-radius: 16px;
        margin: 8px 8px 8px 0;
        padding: 10px 15px;
        width: 60%;
        outline: none;
    }
    
    .container .play-area .answer button {
        border: none;
        width: 7em;
        height: 3em;
        border-radius: 36px;
        color: white;
        font-size: 1.6vw;
        text-shadow: 0 0.125em 0.4em black;
        background-color: #6cb928;
        background-image: radial-gradient(150% 160% at 50% 15%, #fff 0, transparent 30%);
    }
    
    .container .play-area .answer button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .container .disc .discimg{
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    
    #end-model {
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
        display: none;
        width: 60%;
        height: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 1000;
        border-radius: 16px;
        box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
    }
    
    #detail-model {
        background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
        display: none;
        width: 60%;
        height: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 2000;
        border-radius: 16px;
        box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    
    .song-detail::-webkit-scrollbar {
        width: 0.2em;
    }
    
    .song-detail::-webkit-scrollbar-thumb {
        background-color: #fff;
        width: 2em;
        border-radius: 18px;
    }
    
    .end-model-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        font-size: large;
        color: white;
    }
    
    .img-model {
        width: 65%;
        height: 55%;
        justify-content: center;
        align-items: center;
    }
    
    #img-model-ava {
        border-radius: 16px;
        width: 100%;
        height: 90%;
    }
    
    .bg-model {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }
    
    
    .rank_img {
        width: 50px;
        height: 50px;
    }
    
    .btn-model {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }
    
    .home-btn-a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }
    
    .home-btn {
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6em;
        height: 2em;
        border-radius: 36px;
        border: none;
        color: white;
        font-size: 1.2em;
        background-color: #ba3eebb9;
    }
    
    .home-btn:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    #end-model-score > span {
        color: rgb(239, 255, 60);
    }
    
    .song-detail {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        width: 80%;
        height: 48vh;
        gap: 0.5em;
        overflow-y: scroll;
    }
    
    .song-detail > h2 {
        font-size: 1.8rem;
        color: aquamarine;
    }
    
    .songlist {
        display: flex;
    }
    
    .songlist > a {
        text-decoration: none;
        color: white;
    }
    
    .songlist > a:hover {
        color: darkgray;
    }
    
    .num-ans {
        display: flex;
        flex-direction: row;
        gap: 0.75em;
        color: white;
        justify-content: space-around;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    
    #num-r {
        color: #A885EE;
    }
    
    #num-w {
        color: #FAAFA5;
    }
    
    .home-btn-1 {
        background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6em;
        height: 2em;
        border-radius: 36px;
        border: none;
        color: white;
        font-size: 1rem;
        background-color: #ba3eebb9;
    }
    
    .home-btn-1:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    @media screen and (max-height: 400px) {
        .send-field{
            left: 11vw;
            top: 36vh;
        }
        .song-detail {
            justify-content:flex-start;
        }
        #detail-model {
            height: 90%;
            width: 75vw;
        }
        #end-model {
            height: 90%;
            width: 75vw;
            gap: 0;
        }
        .end-model-content {
            padding-bottom: 4vh;
        }
    
        .btn-model {
            margin: 1% auto;
        }
        .song-detail > .songlist h2 {
            font-size: 1.5rem;
        }
        .container .play-area {
            overflow-y: scroll;
        }
        .container .play-area .disc img {
            width: 32%;
        }
        .container .play-area .answer input {
            height: 9vh;
        }
        .container .play-area .answer button {
            height: 9vh;
        }
        .container .play-area .disc {
            margin: 0;
            overflow-y: scroll;
        }
        .container .play-area .info .round-time {
            width: 36vw;
        }
        .chat_player {
            font-size: 2vw;
        }
        .container .play-area .toggle {
            font-size: 2vw;
        }
    }

    @media screen and (max-height: 450px) and (min-height: 401px) {
    
        .song-detail {
            justify-content:flex-start;
        }
        #detail-model {
            height: 90%;
            width: 75vw;
        }
        #end-model {
            height: 90%;
            width: 75vw;
            gap: 0;
        }
        .end-model-content {
            padding-bottom: 4vh;
        }
    
        .btn-model {
            margin: 1% auto;
        }
        .song-detail > .songlist h2 {
            font-size: 1.5rem;
        }
        .container .play-area {
            overflow-y: scroll;
        }
        .container .play-area .disc img {
            width: 32%;
        }
        .container .play-area .answer input {
            height: 9vh;
        }
        .container .play-area .answer button {
            height: 9vh;
        }
        .container .play-area .disc {
            margin: 0;
            overflow-y: scroll;
        }
        .container .play-area .info .round-time {
            width: 36vw;
        }
        .chat_player {
            font-size: 2vw;
        }
        .container .play-area .toggle {
            font-size: 2vw;
        }
        .send-field{
            left: 11vw;
            top: 32vh;
        }
    }
    
}



/* @media screen and (max-width: 930px) {
    body {
      orientation: landscape;
    }
} */
