@font-face {
    font-family: neosans;
    src: url("font/UTM_Neo_Sans_IntelBold_Italic.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neosans;
}

body {
    background: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    color: white;
    /* flex-grow: 1; */
}

.container .hint {
    /* position: absolute; */
    /* left: 0;
    top: 0; */
    font-size: 1rem;
    width: 40rem;
}

.container .hint{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5em;
}

.container .hint{
    overflow: auto;
}

.container .hint>div{
    padding-left: 0.7em;
}

.container .hint::-webkit-scrollbar {
    width: 0.2em;
}

.container .hint::-webkit-scrollbar-thumb {
    background-color: #fff;
    width: 2em;
    border-radius: 18px;
}

.container .hint h2 {
    margin-top: 0em;
    font-size: 2em;
}

.container .hint p {
    font-size: 0.6em;
    opacity: 0.7;
}

.container .play-area {
    /* position: absolute; */
    /* left: 50%;
    top: 0; */
    /* width: calc(200/3) %; */
    overflow-y: scroll;
}

.container .play-area img{
    width: 20%;
}

.container .play-area .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container .play-area .info .btn-back {
    margin-top: 1.75rem;
    width: 2.6vw;
    height: 2.6vw;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    cursor: pointer;
}
.container .play-area .info .btn-back a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.container .play-area .info .btn-back:hover {
    transform: scale(1.5);
    background-color: #f53192;
    color: #fff;
}

.container .play-area .info .round-info {
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .play-area .info .point-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
}

.container .play-area .info .point-info h3{
    font-size: 3vw;
}

.play-area .info .time-info h3{
    font-size: 3vw;
}

.play-area .info .player-info h3{
    font-size: 3vw;
}

.play-area .info .round-info h3{
    font-size: 3vw;
}

.container .play-area .info .player-info {
    display: flex;
    width: 26vw;
    line-height: 4em;
    justify-content: center;
}

.container .play-area .info .player-info p {
    font-size: 3vw;
}

.container .play-area .info .player-info img{
    width: 5em;
}

.container .play-area .info .time-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
}

.container .play-area .info .time-info h3 {
    font-size: 3vw;
}

.container .play-area .disc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

.container .play-area .disc img {
    width: 45%;
}

.container .play-area .disc .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .disc .discimg{
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.container .disc .btn #progress {
    -webkit-appearance: none;
    width: 20em;
    height: 0.3em;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 2.5em 0;
    rotate: -90deg;
}

.container .disc .btn #progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    background: #f53192;
    border-radius: 50%;
    border: 0.5em solid #fff;
}

.container .disc .btn #progress-control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.container .disc .btn #progress-control div {
    width: 2.5em;
    height: 2.5em;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    cursor: pointer;
    margin: 1em;
}

.container .disc .btn #progress-control div:hover{
    transform: scale(1.5);
    background-color: #f53192;
    color:#fff;
}

.container .disc .btn #progress-control div:nth-child(1){
    rotate: -90deg;
}

.container .disc .btn #progress-control div:nth-child(3){
    rotate: -90deg;
}

.container .play-area .answer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .play-area .answer input {
    background-color: #eee;
    border: none;
    border-radius: 16px;
    margin: 8px 8px 8px 0;
    padding: 10px 15px;
    width: 60%;
    outline: none;
}

.container .play-area .answer button {
    border: none;
    width: 7em;
    height: 3em;
    border-radius: 36px;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0.125em 0.4em black;
    background-color: #6cb928;
    background-image: radial-gradient(150% 160% at 50% 15%, #fff 0, transparent 30%);
}

.container .play-area .answer button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.modal {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

}
.modal .modal-correct-answer {
    color: white;
    transition: all 300ms ease-in-out;
    background: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 570px;
    height: 386px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    display: none;
}

.modal .modal-correct-answer .label {
    padding: 10px;
}

.modal .modal-correct-answer .point-gain {
    padding: 10px;
}

.modal .modal-correct-answer .gif-img img {
    padding: 10px;
}


.modal .modal-correct-answer .nextroundBtn {
    border: none;
    width: 9em;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 2em;
    border-radius: 36px;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0.125em 0.4em black;
    background-color: #6cb928;
    background-image: radial-gradient(150% 160% at 50% 15%, #fff 0, transparent 30%);
}

.modal .modal-correct-answer .nextroundBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.modal .modal-wrong-answer {
    color: white;
    transition: all 300ms ease-in-out;
    background: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 570px;
    height: 386px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
}

.modal .modal-wrong-answer .label {
    padding: 10px;
}

.modal .modal-wrong-answer .answer-container {
    padding: 10px;
}

.modal .modal-wrong-answer .gif-img .giphy-embed{
    padding: 10px 10px 0 10px;
    margin-bottom: -4px;
}


.modal .modal-wrong-answer .nextroundBtn {
    border: none;
    width: 9em;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 2em;
    border-radius: 36px;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0.125em 0.4em black;
    background-color: #6cb928;
    background-image: radial-gradient(150% 160% at 50% 15%, #fff 0, transparent 30%);
}

.modal .modal-wrong-answer .nextroundBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.modal .modal-wrong-answer .linksong {
    border: none;
    width: 11em;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 12px;
    height: 2em;
    border-radius: 36px;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0.125em 0.4em black;
    background-color: #6cb928;
    background-image: radial-gradient(150% 160% at 50% 15%, #fff 0, transparent 30%);
}

.modal .modal-wrong-answer .linksong a {
    text-decoration: none;
    color: white;
}

.modal .modal-wrong-answer .linksong:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.modal .modal-end {
    color: white;
    transition: all 300ms ease-in-out;
    background: linear-gradient(132deg, rgb(228, 157, 252), rgb(168,98,230), rgb(122, 57, 214), rgb(95, 30, 203), rgb(69,6, 191),rgb(61,7,185),rgb(65,19,185), rgb(71, 60, 190), rgb(77, 99, 197), rgb(84, 132, 208), rgb(109, 162, 214), rgb(131, 188, 221), rgb(168, 228, 236));
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 570px;
    height: 347px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    display: none;
}

.modal .modal-end .label {
    padding: 10px;
}

.modal .modal-end .statistic {
    padding: 10px;
}

.modal .modal-end .statistic {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal .modal-end .statistic .content {
    margin: 0 31px 0 31px;
}

.modal .modal-end .statistic .giphy-embed-1{
    width: 111px;
}

.modal .modal-end .statistic .giphy-embed-2{
    transform: scaleX(-1);
    width: 111px;
}


.modal .modal-end .replay {
    border: none;
    width: 9em;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 2em;
    border-radius: 36px;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0.125em 0.4em black;
    background-color: #6cb928;
    background-image: radial-gradient(150% 160% at 50% 15%, #fff 0, transparent 30%);
}

.modal .modal-end .replay:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.modal .modal-end .return-home {
    border: none;
    width: 11em;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 12px;
    height: 2em;
    border-radius: 36px;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0.125em 0.4em black;
    background-color: #6cb928;
    background-image: radial-gradient(150% 160% at 50% 15%, #fff 0, transparent 30%);
}

.modal .modal-end .return-home a {
    text-decoration: none;
    color: white;
}

.modal .modal-end .return-home:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* .btn-play-pause {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    border: none;
    opacity: 1;
    border-radius: 50%;
} */

#end-model {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    display: none;
    width: 60%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    border-radius: 16px;
    box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
}

#detail-model {
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    display: none;
    width: 60%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2000;
    border-radius: 16px;
    box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
}

.end-model-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: large;
    color: white;
}

.img-model {
    width: 65%;
    height: 55%;
    justify-content: center;
    align-items: center;
}

#img-model-ava {
    border-radius: 16px;
    width: 100%;
    height: 90%;
}

.bg-model {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}


.rank_img {
    width: 50px;
    height: 50px;
}

.btn-model {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.home-btn-a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.home-btn {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 2em;
    border-radius: 36px;
    border: none;
    color: white;
    font-size: 1.2em;
    background-color: #ba3eebb9;
}

.home-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#end-model-score > span {
    color: rgb(239, 255, 60);
}

.song-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 80%;
    gap: 0.5em;
    overflow-y: scroll;
}

.song-detail > .songlist h2 {

    font-size: 2.5rem;
    color: aquamarine;
}

.songlist {
    display: flex;
}

.songlist > a {
    text-decoration: none;
    color: white;
}

.songlist > a:hover {
    color: darkgray;
}

.num-ans {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    color: white;
    justify-content: space-around;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#num-r {
    color: #A885EE;
}

#num-w {
    color: #FAAFA5;
}

.home-btn-1 {
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 2em;
    border-radius: 36px;
    border: none;
    color: white;
    font-size: 1.2em;
    background-color: #ba3eebb9;
}

.home-btn-1:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .container .hint h2 {
        font-size: 4vw;
        margin: 3vh auto;
    }
    .container > .hint h3 {
        font-size: 20px;
    }
    .container .play-area .disc img {
        width: 40%;
    }
    .container .disc .btn #progress {
        width: 50vh;
    }
    .container .play-area .answer button {
        width: 20vh;
        height: 10vh;
    }
    .container .play-area .disc {
        margin: 2vh;
        margin-left: 6vw;
    }
    .song-detail {
        justify-content:flex-start;
    }
    #detail-model {
        height: 90%;
        width: 75vw;
    }
    #end-model {
        height: 90%;
        width: 75vw;
        gap: 0;
    }
    .end-model-content {
        padding-bottom: 5vh;
    }
    .btn-model {
        margin: 1% auto;
    }
    .song-detail > .songlist h2 {
        font-size: 1.5rem;
    }
    .container .play-area .disc .btn {
        width: 29vw;
    }
    .container .play-area .answer {
        padding-right: 10vw;
    }
}

@media screen and (max-width: 425px) {
    body {
      orientation: landscape;
    }
}